.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#registerForm,
#loginForm {
  margin: 20px;
}

.nav .nav-item {
  margin: auto 0;
}

.carousel{
  margin: 20px 50px;
}
.item img{
  object-fit:cover;
  height:300px !important;
  width:450px;
}

.img-tile {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.short_desc {
  width: 100%;
  margin-bottom: 10px;
}

.place-details .img-tile {
  width: auto;
  height: 500px;
}

.place-details .row{
  margin: 20px 0;
}

div.map {
  width: 100%;
}

.nav-item {
  margin: auto 0;
}

.mainTitle {
  text-align: center;
}

.about {
  margin: 25px;
}

.error-container {
  padding: 0 10px;
}

.carousel-inner {
  height: 300px;
}
.carousel-item img {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.col-md {
  margin: 15px;
}

.place-container a {
  color: black;
}

.place-container h3 {
  margin-top: 10px;
  color: green;
}

.place-container a:hover {
  text-decoration: none;
}