.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#registerForm,
#loginForm {
  margin: 20px;
}

.navbar.bg-light {
  background: #997300 !important;
}

.nav .nav-item {
  margin: auto 0;
}

.carousel{
  margin: 20px 50px;
}
.item img{
  object-fit:cover;
  height:300px !important;
  width:450px;
}

.img-tile {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.short_desc {
  width: 100%;
  margin-bottom: 10px;
}

.place-details .img-tile {
  height: 500px;
}

.place-details .row{
  margin: 20px 0;
}

.place-details .row .place-title a {
  text-decoration: none;
  color: saddlebrown;
}

div.map {
  width: 100%;
}

.nav-item {
  margin: auto 0;
}

.mainTitle {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-family: Snell Roundhand, cursive;
}

.about {
  margin: 30px;
  text-align: center;
}

.error-container {
  padding: 0 10px;
}

.carousel-inner {
  height: 300px;
}
.carousel-item img {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.col-md {
  margin: 15px;
}

.place-container {
  background-color: white;
}

.place-container a {
  color: black;
}

.place-container h3 {
  margin-top: 10px;
  color: saddlebrown;
}

.place-container a:hover {
  text-decoration: none;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: lightyellow !important;
}

.navbar-nav {
  color: lightyellow !important;
}

.navbar-nav a {
  color: lightyellow !important;
}

.navbar-nav a:hover {
  text-decoration: none;
}

.btn.btn-danger {
  margin-left: 10px;
}

body {
    background-image: url("bg1.jpg");
    background-size: cover;
}

.users-list {
  margin: 40px 15px;
}

.users-list .row {
  padding: 10px 0;
  border-bottom: 1px solid saddlebrown;
}

.users-list .row .col {
  margin: auto 0;
}

.navbar-brand {
  color: lightyellow !important;
}

.alert-danger {
  background-color: transparent !important;
  color: red !important;
  font-weight: bold;
  display: block;
}

.alert-danger:first-letter {
  text-transform: uppercase;
}

.formErrors p:first-letter {
  text-transform: uppercase;
}